@charset "UTF-8";
body{
    margin:0px;
}
#hello{
    color: #ffc0cd;
}
#leftSide{
    margin: 15px 15px 15px 15px;
    float:left;
    width:200px; 
    height:150px;
}
#rightSide{
    margin: 15px 15px 15px 15px;
    float:left;
    width:200px; 
    height:150px;
}